
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 40px;
    text-align: center;
    color: #333;
}

h1 {
    color: #2c3e50;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
    color: #555;
    font-size: 16px;
}

#qr-reader {
    margin: auto;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    color: #1d8348;
}
