<!DOCTYPE html>
<html>
<head>
    <title>Editar Beneficio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_beneficio.css') }}">
</head>
<style>
body {
    background-image: url("{{ url_for('static', filename='img/PRUEBA5.jpg') }}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
</style>
<body>
    <h1>Editar beneficio</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label for="nombre">Nombre del beneficio:</label><br>
        <input type="text" id="nombre" name="nombre" value="{{ beneficio.nombre }}" required><br><br>

        <label for="puntos_requeridos">Puntos necesarios:</label><br>
        <input type="number" id="puntos_requeridos" name="puntos_requeridos" value="{{ beneficio.puntos_requeridos }}" required><br><br>

        <button type="submit">Guardar cambios</button>
    </form>
    <p><a href="{{ url_for('crear_beneficio') }}" class="btn-volver">← Volver a la lista de beneficios</a></p>
</body>
</html>
