<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Evento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crear_qr_evento.css') }}">
</head>
<body>

<h2>Editar Evento</h2>
<a href="{{ url_for('crear_qr_evento') }}" class="btn-volver">← Volver al panel</a>

<form method="POST">
    <input type="text" name="nombre_evento" placeholder="Nombre del evento" required value="{{ evento.nombre_evento }}">
    <input type="number" name="puntos" placeholder="Puntos a otorgar" required value="{{ evento.puntos }}">

    <label for="latitud"><strong>Latitud:</strong></label>
    <input type="text" id="latitud" name="latitud" placeholder="Latitud" required value="{{ evento.latitud }}">

    <label for="longitud"><strong>Longitud:</strong></label>
    <input type="text" id="longitud" name="longitud" placeholder="Longitud" required value="{{ evento.longitud }}">

    <div class="form-footer">
        <button type="submit">💾 Guardar cambios</button>
    </div>
</form>

</body>
</html>
