<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="contenedor">
    <div class="tabs">

        <button id="btn-familia" class="active" onclick="mostrarFormulario('familia')">Familia</button>
        <button id="btn-admin"  onclick="mostrarFormulario('admin')">Administrador</button>
        
    </div>

    <!-- Formulario de familia -->
    <form id="form-familia" onsubmit="return validarFamilia()" method="POST" action="{{ url_for('login_familia') }}" >
        <input type="email" name="correo" id="correo-familia" placeholder="Correo de familia" required>
        <input type="password" name="password" id="pass-familia" placeholder="Contraseña" required>
        <button type="submit">Ingresar</button>
    </form>

    <!-- Formulario de administrador -->
    <form id="form-admin" method="POST" action="{{ url_for('login') }}" style="display:none;">
        <input type="text" name="usuario" placeholder="Usuario admin" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Ingresar</button>
    </form>


    <!-- Mensajes de error con flash -->
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        <div class="error">{{ messages[0] }}</div>
    {% endif %}
    {% endwith %}
</div>

<script>
    function mostrarFormulario(tipo) {
        document.getElementById('form-admin').style.display = tipo === 'admin' ? 'block' : 'none';
        document.getElementById('form-familia').style.display = tipo === 'familia' ? 'block' : 'none';

        document.getElementById('btn-admin').classList.toggle('active', tipo === 'admin');
        document.getElementById('btn-familia').classList.toggle('active', tipo === 'familia');
    }

    function validarFamilia() {
        const correo = document.getElementById('correo-familia').value.trim();
        const pass = document.getElementById('pass-familia').value.trim();

        if (!correo.includes('@')) {
            alert("Por favor, ingresa un correo válido.");
            return false;
        }

        if (pass.length < 4) {
            alert("La contraseña debe tener al menos 4 caracteres.");
            return false;
        }

        return true;
    }

    {% if active_tab %}
    window.onload = function () {
        mostrarFormulario("{{ active_tab }}");
    };
    {% endif %}
</script>

</body>
</html>
